<h1>Welcome to Wacky Widgets</h1>
<p>This CMS (content management system) allows you to create, update, and delete widgets and publish them as static json so anyone can download them <a href="https://wacky-widgets.s3.us-east-2.amazonaws.com/widgets.json">here</a>.</p>
