/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 100%;
  font-family: ariel, sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  color: white;
  margin: 0;
  padding: 0;
}

nav ul {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
nav li {
  padding: .5em;
  float: left;
}
nav a {
  text-decoration: none;
  color: white;
}
nav li:hover {
  background-color: #cc0000;
}
nav li:active {
  background-color: #dd0000;
}

.dark-red {
  background-color: #bb0000;
}

.logo {
  color: white;
  text-decoration: none;
  float: left;
  font-size: 1.4em;
  margin-top: .2em;
  margin-bottom: .2em;
}

.sidenav-icon {
  display: none;
}

.container {
  overflow: hidden;
  margin-left: 2em;
  margin-right: 2em;
  padding: .5em;
}

.alert {
  padding: 1em;
  background-color: #ffcccc;
}

.notice {
  padding: 1em;
  background-color: #90ee90;
}

.field {
  padding: .5em;
}


@media screen and (max-width: 600px) {
  nav ul {
    display: none;
  }

  .logo {
    float: none;
    align-self: center;
  }
  
  .sidenav-icon {
    display: inline;
  }

  .visible {
    display: block;
  }
  .visible ul {
    list-style-type:
  }
}
