@import "application";

nav {
  background-color: $nav-color;
  color: $nav-text;
  margin: 0;
  padding: 0;
  height: $nav-height;
  position: fixed;
  width: 100%;
  top: 0;


  a {
    text-decoration: none;
    color: $light-text;
  }

  .nav-links {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    transition: display $transition-time;

    li {
      float: left;
      transition: background-color $transition-time;

      a {
        padding: .5em;
        display: block;

        &:hover {
          background-color: $nav-tint;
        }
        &:active {
          background-color: $nav-tint2;
        }
      }

      input {
        padding: .4em;
        margin-left: .5em;
        margin-right: .5em;
        font-size: .8em;
      }

      input[type=submit] {
        color: $nav-text;
        border-width: thin;
        border-color: $light-grey;
        border-style: ridge;
        font-weight: 500;
        border-radius: .5em;
        background-color: $nav-tint2;

        padding-left: 1.2em;
        padding-right: 1.2em;
        transition: background-color $transition-time;
        transition: border-color $transition-time;

        &:hover {
          background-color: $nav-tint;
          border-color: $light-grey2;
          box-shadow: 10px, 10px, 5px, grey;
        }
      }
    } // li
  } // .nav-links

  .sidenav-icon {
    display: none;

    img {
      padding: .3em;
      height: 1.2em;
      transition: background-color $transition-time;

      &:hover {
        background-color: $nav-tint;
      }
      &:active {
        background-color: $nav-tint2;
      }
    }
  }

  .logo {
    display: inline;
    color: $light-text;
    text-decoration: none;
    font-size: 1.4em;
  }
} // nav

.side-nav {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 0%;
  top: $nav-height;
  list-style-type: square;
  background-color: $light-grey;
  color: $dark-text;
  transition: width $transition-time;
  overflow: hidden;

  li {
    transition: background-color $transition-time;

    a {
      display: block;
      padding: 1em;
      color: $dark-text;
      text-decoration: none;
      white-space: nowrap;
    }

    &:hover {
      background-color: $light-grey2;
    }

    &:active {
      background-color: $light-grey3;
    }
  }
} // .side-nav

@media screen and (max-width: 650px) {

  nav {
    .nav-links {
      display: none;
    }

    .sidenav-icon {
      display: inline;;
    }
    .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .side-nav.visible {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  nav {
    .logo {
      display: none;
    }

  }

  .side-nav.visible {
    width: 100%;
  }
}
